<title>CSS Template for Submission</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  background-color: #DCF0FF;
  color: #252F9C;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #252F9C;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: #DCF0FF;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #DCF0FF;
  color: #252F9C;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}

.content h2,
.content h3,
.content p {
  margin-bottom: 10px; /* Adjust the value as needed */
}

</style>
</head>
<body>
